body {
  font-family: Arial, sans-serif !important;
  padding: 20px !important;
  background-color: #fde6e6 !important; 
}

.container {
  max-width: 600px !important;
  margin: 0 auto !important;
  background-color: #fff !important; 
  padding: 20px !important;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

h1 {
  margin-bottom: 20px !important;
  color: #343a40 !important;
}

.mb-3 {
  margin-bottom: 20px !important;
}

.form-label {
  font-weight: bold !important;
}

.form-control {
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

.btn-dark {
  background-color:  #343a40  !important;
  color: #f8f9fa !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
}

.btn-dark:hover {
  background-color: #23272b !important;
}

.selects-container {
  display: none !important;
}

.selects-container.show {
  display: block !important;
}

.selects-container h2 {
  margin-bottom: 10px !important;
  color: #343a40 !important;
}

.selects-container h3 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  color: #343a40 !important;
}

.selects-container select {
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
}

.totalDiv {
  display: none !important;
  margin-top: 20px !important;
}

.totalDiv.show {
  display: block !important;
}

.badge {
  font-size: 1.2rem !important;
  margin-bottom: 5px !important;
  color: #343a40 !important;
}

.price {
  font-weight: bold !important;
}
